<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        @media screen and (max-width: 416px) {
            .log-seller-account {
                display: flex;
                flex-direction: column;
            }
        }
    </style>
</head>

<section class="log-seller-account flex justify-center pt-24">
    <div class="log-seller-account-poster w-full max-w-xs mr-5">
        <span class="text-5xl text-green-500">
            Create a new Seller Account Now
        </span>
        <br>
        <br>
        <span class="text-xl text-gray-400">
            Let's take your business Online
        </span>
        <br>
        <br>
        <br>
        <br>
        <span>
            <a href="/sellerReg">
                <button
                    class="bg-gray-700 active:bg-green-700 rounded-full text-white py-2 px-4 rounded focus:outline-none">
                    Create a new Account
                </button>
            </a>
        </span>
    </div>
    <div class="log-seller-account-adder w-full max-w-xs">
        <div class="border bg-gray-700 text-xl rounded text-yellow-400 px-4 py-2">
            <span>
                Login to Zay
            </span><br>
            <span>
                Seller Account
            </span>
        </div>
        <form action="/sellerLog" method="POST" class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <% if(messages.error) { %>
                <span class="text-red-500 text-md">
                    <%= messages.error %>
                </span>
                <% } %>

                    <div class="mb-4">
                        <label class="block text-white text-sm font-bold mb-2" for="email">
                            Email:
                        </label>
                        <input name="email" value="<%= messages.email %>" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none" id="email" type="email" placeholder="Enter your email">
                    </div>

                    <div class="mb-6">
                        <label class="block text-white text-sm font-bold mb-2" for="password">
                            Password
                        </label>
                        <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none" id="password" type="password" placeholder="******************">
                    </div>
                    <div class="log-seller-account-adder-btn flex items-center justify-between">
                        <button class="rounded-full text-white bg-green-500 font-bold py-2 px-4 rounded focus:outline-none" type="submit">
                            Log In
                        </button>
                        <a class="inline-block align-baseline font-bold text-sm text-yellow-500" href="/sellerReg">
                            Don't have account?
                        </a>
                    </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2021-22 Zay. All rights reserved.
        </p>
    </div>
</section>