<head>
    <link rel="stylesheet" href="/css/authStyle.css">
</head>

<section class="auth-container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="/img/auth.png" alt="illustration" class="illustration" />
            <h3 class="opacity">Forget Password</h3>
            <% if(messages.error) { %>
                <span class="text-red-500 text-sm" style="color: red;">
                    <%= messages.error %>
                </span>
                <% } %>
                    <form action="/updatePassword" method="POST">
                        <input name="emailShown" type="text" value="<%= email %>" placeholder="EMAIL" disabled required/>
                        <input name="email" type="hidden" value="<%= email %>" required/>
                        
                        <% if(type !== 'reset') { %>
                            <input name="oldPass" type="text" placeholder="Old Password" required/>
                            <input name="type" type="hidden" value="update" required/>
                        <% } else { %>
                            <input name="type" type="hidden" value="<%= type %>" required/>
                        <% } %>
                        
                        <input name="newPass" type="password" placeholder="New Password" required/>
                        
                        <input name="newConfirmPass" type="text" placeholder="Confirm Password" required/>
                        
                        <button class="opacity">SUBMIT</button>
                    </form>
                    <div class="register-forget opacity">
                        <a href="/signup">REGISTER</a>
                        <a href="/login">LOGIN</a>
                    </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
</section>
<script src="/js/auth/auth.js"></script>