.noty_layout_mixin,
#noty_layout__centerRight,
#noty_layout__centerLeft,
#noty_layout__center,
#noty_layout__bottomRight,
#noty_layout__bottomCenter,
#noty_layout__bottomLeft,
#noty_layout__bottom,
#noty_layout__topRight,
#noty_layout__topCenter,
#noty_layout__topLeft,
#noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
  animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in 0.3s ease-out;
  animation: noty_modal_in 0.3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out 0.3s ease-out;
  animation: noty_modal_out 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}

@keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}

@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
}

.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F;
}

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff;
}

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff;
}

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
  width: auto;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#mySidebar a:hover {
  color: #59ab6e !important;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  display: inline;
  position: absolute;
  z-index: 5;
  left: -16px;
  top: 38px;
}

.closebtn {
  font-size: 50px !important;
}

@-moz-document url-prefix() {
  #cartCounter {
    margin-left: 25px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1044px) {
  .navbar-brand {
    margin-left: 23px !important;
  }
}

@media screen and (max-width: 580px) {
  .navbar-brand {
    margin: auto !important;
  }
}

.seller-bord-blink {
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #ff0000;
}

@-webkit-keyframes blink {
  0% {
    color: #cfd6e1 !important;
    border-color: #ff0000;
  }

  50% {
    color: #ff0000 !important;
    border-color: #65d88b;
  }
}

@keyframes blink {
  0% {
    color: #cfd6e1 !important;
    border-color: #ff0000;
  }

  50% {
    color: #ff0000 !important;
    border-color: #65d88b;
  }
}

.seller-bord-blink {
  /*or other element you want*/
  -webkit-animation: blink 0.5s step-end infinite alternate;
  animation: blink 0.5s step-end infinite alternate;
}

.seller-account {
  background: #F8F8F8;
  height: 88vh;
}

.seller-account-adder {
  margin-left: 75px;
}

.seller-account-poster-730 {
  display: none;
  width: 340px;
}

@media screen and (max-width: 1080px) {
  .seller-account-adder {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 965px) {
  .seller-account {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .seller-account-adder {
    margin-left: 0px !important;
    grid-column: span 1 / span 1 !important;
  }

  .seller-account-adder form {
    width: 110% !important;
  }

  .seller-account-adder form div {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 730px) {
  .seller-account {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    padding-top: 2rem !important;
  }


  .seller-account-poster-730 {
    display: grid;
    justify-self: center;
    padding-left: 20px;
  }

  .seller-account-poster {
    display: none !important;
  }

  .seller-account-adder {
    margin-left: 28% !important;
  }

  .seller-account-adder p {
    padding-bottom: 2rem !important;
  }
}

@media screen and (max-width: 477px) {
  .seller-account-poster-730 {
    justify-self: start;
  }

  .seller-account-adder {
    margin-left: 14% !important;
  }
}

@media screen and (max-width: 380px) {
  .seller-account-adder {
    margin-left: 2% !important;
  }
}

@media screen and (max-width: 340px) {
  .seller-account-poster-730 {
    width: 250px;
  }
}

@media screen and (max-width: 706px) {
  .seller-account {
    height: auto;
  }

  .seller-account-poster {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .seller-account-adder {
    margin: 0 auto;
  }
}

@media screen and (max-width: 281px) {
  .seller-account-adder-btn {
    flex-direction: column;
  }
}

.seller-account-adder-btn a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px !important;
}

.log-seller-account-adder-btn a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px !important;
}

.seller-account-adder-btn a:hover {
  color: #198754 !important;
}

.seller-account-adder-btn button:hover {
  background: #256d4b !important;
}

.log-seller-account-adder-btn button:hover {
  background: #256d4b !important;
}

.seller-account {
  background: #F8F8F8;
  height: 88vh;
}

.log-seller-account-adder-btn a:hover {
  color: #198754 !important;
}

@media screen and (max-width: 706px) {
  .seller-account {
    flex-direction: column;
    height: auto;
  }

  .seller-account-poster {
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .seller-account-adder {
    margin: 0 auto;
  }
}

@media screen and (max-width: 281px) {
  .seller-account-adder-btn {
    flex-direction: column;
  }
}

.seller-account label {
  font-size: 15px !important;
}

.seller-account-poster span button a {
  text-decoration: none;
  color: white;
}

.log-seller-account-poster span button a {
  text-decoration: none;
  color: white;
}

.seller-account-poster span button:hover {
  background: #305a49;
}

.log-seller-account-poster span button:hover {
  background: #305a49;
}

@media screen and (max-width: 999px) {
  .seller-account-poster {
    margin: 0 auto;
  }
}

@media screen and (max-width: 780px) {
  .seller-account {
    display: flex;
    flex-direction: column;
  }

  .seller-account-poster {
    margin: 0 auto;
  }

  .seller-account-adder {
    margin: 5% 7%;
  }
}

@media screen and (max-width: 689px) {
  .seller-account-adder form div {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .seller-account-adder form {
    width: 100% !important;
  }
}

@media screen and (max-width: 322px) {
  .seller-account-adder form div input {
    width: 96% !important;
  }
}

@media screen and (max-width: 416px) {
  .log-seller-account {
    display: flex;
    flex-direction: column;
  }
}

/* Seller store add Page CSS Style */
.add-store-adder-form-btn {
  display: table !important;
}

.add-store {
  background: #F8F8F8;
  height: 105vh;
}

.show-store {
  background: #F8F8F8;
}

.store-image {
  width: 750px;
  height: 500px;
}

.store-img {
  height: 100px;
  width: 160px;
}

@media (max-width: 698px) {
  .add-store {
    flex-direction: column;
  }

  .add-store-null {
    margin: 0 auto;
  }

  .add-store-adder {
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (max-width: 324px) {
  .add-store {
    width: 324px;
  }
}

@media screen and (max-width: 1340px) {
  .show-store-list {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 1095px) {
  .show-store-list {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 825px) {
  .show-store-list {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 576px) {
  .show-store-list {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .addNewStoreBtnDiv {
    width: 100% !important;
  }

  .addNewStoreBtnDiv div {
    float: right;
  }
}

@media screen and (max-width: 290px) {
  .your-store-header,
  .addNewStoreBtnDiv div {
    width: auto !important;
  }
}

@media screen and (max-width: 990px) {
  .store-details {
    padding-left: 10px;
  }

  .store-details-img {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 775px) {
  .store-details {
    flex-direction: column;
  }

  .store-details {
    margin: 0 auto;
  }

  .store-details-img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 530px) {
  .store-item-list {
    display: flex;
    flex-direction: column;
  }

  .store-items {
    margin: 0 auto;
  }

  .new-store-item {
    margin: 0 auto;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .store-items {
    width: 100%;
  }
}

@media screen and (max-width: 268px) {
  #stock {
    width: 50%;
  }

  #changedprice {
    width: 50%;
  }
}

@media screen and (max-width: 268px) {
  .changedprice {
    flex-direction: column;
  }

  .changedprice-btn {
    width: 100px;
  }
}

@media screen and (max-width: 730px) {
  .store-list-main {
    flex-direction: column-reverse;
  }

  .show-store-add {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .your-store-header {
    margin: auto !important;
  }
}

.show-store-list-div {
  height: 18rem;
}

.show-store-list a {
  text-decoration: none;
  color: black;
}

.list-disc {
  width: 93%;
}

.store-dtil-btn button {
  color: black !important;
}

.store-dtil-btn button:hover {
  background: #07b463;
  color: white !important;
}

@media screen and (max-width: 1498px) {
  .show-store-list .list-disc {
    width: 120%;
  }

  .store-dtil-btn a {
    display: contents;
  }

  .store-dtil-btn button {
    margin-left: 0px;
    margin-top: 5px;
    margin: auto auto !important;
  }
}

@media screen and (max-width: 1089px) {
  .show-store-add {
    height: 720px;
  }
}

@media screen and (max-width: 486px) {
  .store {
    width: 486px;
  }
}

#cat-nav-ul {
  margin-bottom: 0px !important;
}

#cat-nav-li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

#cat-nav-li:hover {
  cursor: pointer;
  /* color: rgb(148, 224, 34); */
  font-weight: bold !important;
  background: #59ab6e;
}

#cat-nav-li:hover #cat-dropdown {
  cursor: pointer;
  visibility: visible;
}

#cat-dropdown {
  width: 290px;
  position: absolute;
  visibility: hidden;
  z-index: 10;
  padding-left: 0px !important;
  background: black;
  border-radius: 5px;
  margin-left: -25px;
  margin-top: 10px;
  /* Hide scrollbar for IE, Edge and Firefox */
  /* IE and Edge */
  /* Firefox */
}

#cat-dropdown li {
  color: white;
  list-style: none;
  padding: 5px 0px;
}

#cat-dropdown li a {
  color: white;
}

#cat-dropdown li:hover a {
  color: #59ab6e !important;
}

.itemSlider {
  width: 1500px;
}

.item-details button {
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.item-details-Images button {
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.item-details button:hover {
  background-color: #07b463;
  color: white;
}

.item-details-Images button:hover {
  background-color: #07b463;
  color: white;
}

.item-updating .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-updating-container-span1 {
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.change-details-btn-div a button:hover {
  color: #fff !important;
}

.color-show-div:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (max-width: 1239px) {
  .item-details {
    flex-direction: column;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .item-img {
    margin-left: 60%;
  }

  .item-data {
    width: 600px;
    margin: auto;
  }

  .item-images-shower {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 1070px) {
  .itemSlider {
    width: 790px;
  }
}

@media screen and (max-width: 928px) {
  .item-details-Images {
    flex-direction: column-reverse;
  }

  .upload-more-img {
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media screen and (max-width: 845px) {
  .item-details {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .item-img {
    margin-left: 12% !important;
  }
}

@media screen and (max-width: 716px) {
  .item-img {
    margin: 0 auto;
  }

  .item-data {
    width: 455px;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 423px) {
  .shower-main-container {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1060px) {
  .add-store {
    height: 44rem;
  }

  .add-store-adder-header {
    margin-left: 35%;
  }

  .add-store-adder-form-btn {
    margin-left: 88%;
  }
}

@media only screen and (max-width: 1060px) {
  .add-store {
    flex-direction: column;
    height: auto;
    padding-top: 20px;
  }

  .add-store-null {
    margin-left: 40%;
  }

  .add-store-adder {
    margin-left: 16%;
    height: 118%;
  }

  .add-store-adder-header {
    margin: auto;
    margin: 10px auto;
  }

  .add-store-adder-form {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .add-store-adder-form-btn {
    margin-left: 42%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 699px) {
  .add-store-null {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 535px) {
  .add-store-adder-header {
    width: 12rem;
  }

  .add-store-adder-header-span {
    margin: auto 0;
  }

  .add-store-adder-form-div {
    width: 12rem;
  }

  #country {
    width: 12rem;
  }

  .add-store-adder-form-btn {
    margin-left: 26%;
    margin-bottom: 20px;
  }

  .add-store-adder-form input {
    width: 50%;
  }

  .add-store-adder-form textarea {
    width: 50%;
  }

  .add-store-adder-header {
    width: 66% !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
}

@media only screen and (max-width: 415px) {
  #add-store {
    width: auto;
  }

  .add-store-null {
    width: 180px;
  }

  .add-store-adder {
    width: auto;
  }
}

@media screen and (min-width: 1400px) {
  #more-offer-div input {
    width: 420px;
  }
}

@media screen and (max-width: 1400px) {
  #forms2 select {
    width: 300px !important;
  }
}

@media screen and (max-width: 1200px) {
  #forms2 select {
    width: 200px !important;
  }
}

@media screen and (max-width: 992px) {
  .form1_2 {
    flex-direction: column !important;
  }

  .forms2 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 768px) {
  .cat-form {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 514px) {
  .cat-form {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

.cat-form {
  /* width: 51%; */
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.forms1 {
  border: 1px solid #fff;
  padding: 10px;
}

.forms2 {
  border: 1px solid #fff;
  padding: 10px;
}

.form2_1 div {
  border-radius: 8px;
  padding: 6px !important;
}

.form2_2 div {
  border-radius: 8px;
  padding: 6px !important;
}

.forms3 div {
  border-radius: 8px;
  padding: 6px !important;
}

#forms2 select {
  width: 412px;
  margin: 0 10px;
  margin-bottom: 10px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #27ad39;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 90%;
  /* bottom: 30px; */
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    /* bottom: 30px; */
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    /* bottom: 30px; */
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    /* bottom: 30px; */
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    /* bottom: 30px; */
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.image-card {
  height: 412px !important;
  overflow: hidden;
}

.card-img {
  margin: auto;
}

.fa-heart:hover {
  color: red;
}

.rating-vote-ul {
  list-style: none;
  padding-left: 0px !important;
}

.rating-vote-ul li {
  display: inline-block;
}

.rating-vote-li1 {
  background: #59ab6e;
  padding: 2px 10px;
  border-radius: 5px;
  color: white !important;
  cursor: default;
}

.rating-vote-li1 i {
  color: white !important;
  transform: scale(0.8);
}

.no-products {
  width: 575px;
  margin: 3% 10%;
  background: #d7f7df;
  box-shadow: 1px 1px 1px 1px #59ab6e;
}

.no-products span {
  color: #59ab6e;
  font-size: 50px;
}

.all-image-div a img {
  height: 100px !important;
}

.quantity-div {
  margin: 6% 25% !important;
}

#cart-button {
  background: #ff9f00;
}

#buy-button {
  background: #fb641b;
}

.cart-buy-button {
  width: 250px !important;
  height: 75px !important;
  font-size: 25px !important;
}

.offer,
.warr,
.color,
.size,
.highlight,
.payops,
.service,
.desc,
.seller {
  margin-bottom: 25px;
}

.offer img {
  transform: scale(0.6);
}

.color-img {
  width: 50px;
  height: 50px;
}

.card-body p {
  font-size: 15px !important;
  margin-bottom: 0px !important;
}

.spec .body {
  height: 300px;
  overflow: hidden;
}

/* ========================================== */
#related-prd-section {
  width: 100%;
}

.related-prd {
  margin: 3% 7%;
  margin-bottom: 0;
  padding: 3%;
  padding-right: 0;
  background: white;
  border-radius: 10px;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  background: #c4c0ff;
  margin: -9% 0%;
}

#prev {
  left: 65px;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  right: 65px;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  background: green;
}

.cardCss {
  margin: 1% 2%;
  border: none;
  cursor: pointer;
}

.inner-card {
  width: 200px;
}

.card-img-div {
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.card-img-top {
  height: 315px;
}

.card-img-top:hover {
  transition: ease-in-out 1s;
  transform: scale(1.1);
}

.inner-card .card-title:hover {
  transition: ease-in-out 1s;
  color: blue;
}

.rela-priceSpan {
  font-weight: bold;
}

#warr-p {
  margin-top: 15px;
}

#warr-span-type {
  font-weight: bold;
  border: 1px solid;
  padding: 5px;
}

#color {
  display: grid;
}

.color-span-main {
  display: flex;
  flex-direction: column;
}

.color ul {
  width: auto;
  height: 70px;
}

.color ul li {
  display: inline-block;
  cursor: pointer;
}

#color-img:hover {
  transform: scale(1.1);
}

.color ul li:hover #color-name-span {
  font-weight: bold;
  visibility: visible;
}

#color-name-span {
  visibility: hidden;
  font-size: 12px;
  margin: 16%;
}

.seller-span-strName {
  color: #5252f7;
  font-weight: bold !important;
}

.seller-span-strRating {
  color: white;
  background: blue;
  padding: 1px 10px;
  border-radius: 10px;
}

.seller-span-strRating i {
  transform: scale(0.8);
}

.spec .head {
  border: 1px solid #eceff1;
  padding: 20px 12px !important;
}

.spec .head h3 {
  margin-bottom: 0px !important;
}

.spec .body .body-main-div {
  padding: 20px 12px !important;
  border: 1px solid #eceff1;
  border-top-color: white;
}

.spec .body .row-span1 {
  color: #90a4ae;
}

.spec .body .row-span1 {
  font-weight: 400;
}

.spec .footer {
  border: 1px solid #eceff1;
  padding: 16px 12px !important;
}

#spec-readmore {
  color: #3d3dfd;
}

.ml-40 {
  margin-left: 40px;
}

.fs-15 {
  font-size: 15px !important;
}

#multiBanner {
  cursor: pointer;
}

.alignCenter {
  display: grid;
  justify-content: center;
}

.flip-box {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  text-align: center;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  background-color: rgb(239, 239, 239);
  transform: rotateY(180deg);
  /* width: 100%;
  height: 1000px; */
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-1000 {
  height: 1000px;
}

.h-500 {
  height: 500px;
}

#grocerySec {
  width: 100%;
  height: 800px;
  background-image: url('/img/banners/banner_img_05.jpg');
  background-repeat: round;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

.subImgs-horizontal {
  width: 400px;
  height: 200px;
  border-radius: 18px;
  cursor: pointer;
}

.subImgs-vertical {
  width: 275px;
  height: 350px;
  border-radius: 18px;
  cursor: pointer;
}

.subImgs-horizontal:hover,
.subImgs-vertical:hover {
  transition: ease-in-out 1s;
  transform: scale(1.1);
}

.catOfMonthImg:hover {
  transition: ease-in-out 1s;
  transform: scale(1.1);
}

#navbar_conatact_details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 17px !important;
}

@media only screen and (max-width: 768px) {
  #navbar_conatact_authBtns {
    display: grid !important;
    justify-content: end !important;
    gap: 15px !important;
  }

  #main {
    top: -7px !important;
  }
}

@media only screen and (max-width: 415px) {
  #navbar_conatact_details {
    display: grid !important;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: end;
  }
}

@media only screen and (max-width: 270px) {
  #navbar_authBtns_details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: end;
    row-gap: 15px;
  }

  #sellerATag {
    grid-column: span 2 / span 2;
  }
}

@media only screen and (max-width: 992px) {
  #navBar_Sec_Div {
    display: grid !important;
    justify-content: center !important;
  }

  #navBar_Sec_Ul {
    flex-direction: row !important;
    column-gap: 50px;
  }
}

@media only screen and (max-width: 1184px) {
  #cat-nav-li:nth-child(7) #cat-dropdown {
    margin-left: -100px;
  }
}

@media only screen and (max-width: 1034px) {
  #cat-nav-li:nth-child(7) #cat-dropdown {
    margin-left: -25px;
  }
}

@media only screen and (max-width: 554px) {
  #cat-nav-li:nth-child(7) #cat-dropdown {
    margin-left: -25px !important;
  }
}



@media only screen and (max-width: 930px) {
  #cat-nav-li:nth-child(6) #cat-dropdown {
    margin-left: -130px;
  }
}

@media only screen and (max-width: 824px) {
  #cat-nav-li:nth-child(6) #cat-dropdown {
    margin-left: -25px;
  }
}



@media only screen and (max-width: 797px) {
  #cat-nav-li:nth-child(5) #cat-dropdown {
    margin-left: -177px;
  }
}

@media only screen and (max-width: 644px) {
  #cat-nav-li:nth-child(5) #cat-dropdown {
    margin-left: -25px;
  }
}



@media only screen and (max-width: 700px) {
  #cat-nav-li:nth-child(4) #cat-dropdown {
    margin-left: -208px;
  }
}

@media only screen and (max-width: 512px) {
  #cat-nav-li:nth-child(4) #cat-dropdown {
    margin-left: -25px;
  }

  #cat-nav-li:nth-child(6) #cat-dropdown {
    margin-left: -130px;
  }
}



@media only screen and (max-width: 629px) {
  #cat-nav-li:nth-child(3) #cat-dropdown {
    margin-left: -235px;
  }

  #cat-nav-li:nth-child(7) #cat-dropdown {
    margin-left: -100px;
  }
}



@media only screen and (max-width: 446px) {
  #cat-nav-ul {
    display: none;
    width: 250px;
  }

  #cat-nav-li #cat-dropdown {
    margin-left: -25px !important;
    width: 225px !important;
  }

  #catsMoreOpt {
    display: flex !important;
    justify-content: center !important;
    margin: 10px auto;
    cursor: pointer;
  }

  #catsMoreOpt-plus {
    margin-left: 15px;
    border: 1.5px solid #ebebeb;
    border-radius: 25px;
    padding: 0px 8px !important;
  }
}

@media only screen and (max-width: 1000px) {
  #womenWearImg {
    height: 500px;
  }

  #womenWearImg_back {
    height: 500px;
  }

  #womenWearImg_jumbotron {
    margin: 0% auto !important;
  }


  #appleProdImg {
    height: 250px;
    width: 500px;
  }

  #appleProd_flipBox {
    height: 250px !important;
  }

  #appleProd_back {
    height: 250px;
    padding: 1rem !important;
  }

  #appleProd_jumbotron {
    margin: 0% auto !important;
  }


  #personalAccsImg {
    height: 250px;
    width: 500px;
  }

  #personalAccs_flipBox {
    height: 250px !important;
  }

  #personalAccs_back {
    height: 250px;
    padding: 1rem !important;
  }

  #personalAccs_jumbotron {
    margin: 0% auto !important;
  }

  #personalAccs_jumbotron h1 {
    font-size: 25px !important;
  }


  #menWearImg {
    height: 500px;
  }

  #menWear_back {
    height: 500px;
  }

  #menWear_jumbotron {
    margin: 0% auto !important;
  }
}

@media only screen and (max-width: 810px) {
  #womenWearImg {
    height: 400px;
  }

  #womenWearImg_back {
    height: 400px;
  }

  #womenWearImg_jumbotron {
    margin: 0% auto !important;
  }

  #womenWearImg_jumbotron h1 {
    font-size: 25px !important;
  }


  #appleProdImg {
    height: 200px;
    width: 500px;
  }

  #appleProd_flipBox {
    height: 200px !important;
  }

  #appleProd_back {
    height: 200px;
    padding: 1rem !important;
  }

  #appleProd_jumbotron {
    margin: 0% auto !important;
  }

  #appleProd_jumbotron h1 {
    font-size: 15px !important;
  }


  #personalAccsImg {
    height: 200px;
    width: 500px;
  }

  #personalAccs_flipBox {
    height: 200px !important;
  }

  #personalAccs_back {
    height: 200px;
    padding: 0rem !important;
  }

  #personalAccs_jumbotron {
    margin: 0% auto !important;
  }

  #personalAccs_jumbotron h1 {
    font-size: 15px !important;
  }


  #menWearImg {
    height: 400px;
  }

  #menWear_back {
    height: 400px;
  }

  #menWear_jumbotron {
    margin: 0% auto !important;
  }

  #menWear_jumbotron h1 {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 760px) {
  #appleProd_jumbotron hr {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }

  #personalAccs_jumbotron hr {
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
  }
}

#multiBanner682Width {
  display: none;
}

#multiBanner682Width {
  height: 1316.45px !important;
}

#multiBanner2-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#multiBanner2-Grid-1 {
  grid-area: 1 / 1 / 2 / 2;
}

#multiBanner2-Grid-2 {
  grid-area: 1 / 2 / 2 / 3;
}


@media only screen and (max-width: 682px) {
  #multiBanner {
    display: none !important;
  }

  #multiBanner682Width {
    display: block;
  }

  #multiBanner1 {
    display: block;
    height: 30.5%;
  }

  #multiBanner2 {
    display: block;
    height: 38%;
  }

  #multiBanner3 {
    display: block;
    height: 30%;
  }

  #appleProdImg {
    max-width: 100%;
    height: 400px;
  }

  #appleProdFlipBack {
    height: 400px;
  }

  #womenWearImg {
    max-width: 100%;
    height: 100%;
  }

  #womenWearFlipBack {
    height: 508px;
    padding-top: 10px;
  }

  #menWearImg {
    max-width: 100%;
    height: 100%;
  }

  #menWearFlipBack {
    height: 508px;
    padding-top: 10px;
  }

  #persAccImg {
    max-width: 100%;
    height: 416px;
  }

  #persAccFlipBack {
    height: 416px;
  }
}

@media only screen and (max-width: 468px) {
  #multiBanner682Width {
    height: 1032px !important;
    /* border: 1px solid red !important; */
  }


  #multiBanner1 {
    display: block;
    height: 21.5%;
  }

  #multiBanner2 {
    display: block;
    height: 49.3%;
  }

  #multiBanner3 {
    display: block;
    height: 29.2%;
  }


  #appleProdImg {
    max-width: 100%;
    height: 220px;
  }

  #appleProdFlipBack {
    height: 220px;
    padding: 0.5rem 3rem !important;
  }

  #appleProdFlipBack div {
    margin: 0px !important;
  }


  #womenWearImg {
    max-width: 100%;
    height: 100%;
  }

  #womenWearFlipBack {
    height: 508px;
    padding-top: 10px;
  }

  #womenWearFlipBack div {
    margin: 0px !important;
  }


  #menWearImg {
    max-width: 100%;
    height: 100%;
  }

  #menWearFlipBack {
    height: 508px;
    padding-top: 10px;
  }

  #menWearFlipBack div {
    margin: 0px !important;
  }


  #persAccImg {
    max-width: 100%;
    height: 304px;
  }

  #persAccFlipBack {
    height: 304px;
    padding: 0.5rem 3rem !important;
  }

  #persAccFlipBack div {
    margin: 0px !important;
  }
}


#multiBanner4 {
  display: none;
}

@media only screen and (max-width: 406px) {
  #multiBanner682Width {
    height: 1728.8px !important;
    /* border: 1px solid red !important; */
  }

  #multiBanner1 {
    height: 12.5%;
  }

  #multiBanner2 {
    display: none;
  }

  #multiBanner4 {
    display: grid;
    height: 70%;
  }

  #womenWearImg4 {
    max-width: 100%;
    height: 100%;
  }

  #appleProdFlipBack {
    overflow-y: scroll;
  }

  #persAccFlipBack {
    overflow-y: scroll;
  }

  #womenWearFlipBack4 {
    height: 481.8px;
    overflow-y: scroll;
  }

  #menWearImg4 {
    max-width: 100%;
    height: 100%;
  }

  #menWearFlipBack4 {
    height: 481.8px;
    overflow-y: scroll;
  }

  #appleProdFlipBack div h1 {
    font-size: 25px;
  }

  #appleProdFlipBack div hr {
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
  }

  #persAccFlipBack div h1 {
    font-size: 25px;
  }

  #persAccFlipBack div hr {
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
  }
}

@media only screen and (max-width: 278px) {
  #logoSection video {
    width: 134px;
    height: 45px;
  }

  #cat-nav-li a {
    font-size: 15px !important;
  }

  #cat-nav-ul {
    width: 190px;
    padding-left: 0px;
  }

  #cat-dropdown {
    width: 195px !important;
  }
}

@media only screen and (max-width: 235px) {
  #template_nav_top {
    padding-top: 73px;
  }
}

@media only screen and (max-width: 900px) {

  #subImg1 img,
  #subImg4 img {
    width: 300px;
  }
}

@media only screen and (max-width: 657px) {

  #subImg1 img,
  #subImg4 img {
    width: 230px;
    height: 150px;
  }

  #subImg2 img,
  #subImg3 img {
    width: 175px;
    height: 265px;
  }
}

@media only screen and (max-width: 514px) {
  #subImg2 {
    left: auto !important;
    right: 5%;
  }

  #subImg3 {
    left: 5%;
    right: auto !important;
  }
}

@media only screen and (max-width: 450px) {
  #grocerySec {
    height: 1200px;
  }

  #subImg2 {
    top: 24% !important;
  }

  #subImg3 {
    bottom: 24% !important;
  }
}

#profSerachNoti {
  display: none !important;
}

@media only screen and (max-width: 991px) {
  #profSerachNoti {
    display: flex !important;
    column-gap: 20px;
  }

  #profSerachNoti991 {
    display: none !important;
  }
}

@media only screen and (max-width: 582px) {
  #logoSection {
    margin: 0px !important;
  }

  #logoSection video {
    width: 150px;
  }

  #logoSection video img {
    width: 150px;
  }
}

@media only screen and (max-width: 421px) {
  #logoProfMore {
    display: grid !important;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #logoSection {
    grid-area: 1 / 1 / 2 / 3;
  }

  #profSerachNoti {
    grid-area: 2 / 1 / 3 / 2;
  }

  #toggleMoreBtn {
    grid-area: 2 / 2 / 3 / 3;
  }

  #logoSection video {
    width: 200px;
  }

  #logoSection video img {
    width: 200px;
  }
}

@media only screen and (max-width: 349px) {
  #profSerachNoti {
    column-gap: 10px;
  }
}

@media only screen and (max-width: 289px) {
  #profSerachNoti {
    column-gap: 10px;
    row-gap: 15px;
  }
}