<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        #emptyCartDiv {
            width: 75rem;
        }
        
        .mx {
            margin: 0rem 31.5rem;
        }
        
        #emptyCartBtn:hover {
            transition: all 1s ease-in-out;
            transform: scale(0.9);
        }
        
        .cartAddressSelect span {
            font-size: 17px !important;
        }
        
        .moreCartAddressAll:hover {
            background: rgb(204, 248, 242);
            border-radius: 10px;
        }
        
        #moreCartAddress {
            display: none;
            z-index: 11;
        }
        
        .cartPlusMin {
            background: rgb(231, 226, 226);
            font-size: 15px;
        }
        
        .text-12 span {
            font-size: 12px !important;
            font-weight: bold;
        }
        
        .text-12 li {
            font-size: 12px !important;
            font-weight: 500 !important;
            color: black;
        }

        .cartRightButton:hover {
            color: white;
            background: rgb(255, 124, 17);
            transition: all 1s ease-in-out;
            transform: scale(0.9);
        }

        .cartItemRemBtn:hover{
            transition: all 1s ease-in-out;
            transform: scale(0.9);
        }
    </style>
</head>

<section>
    <% if(user){ %>
        <!-- if cart is awailable and product is awailable then show that product -->
        <% if(user.cart && Object.keys(user.cart['custID_' + user._id + '_cart' ].items).length){ %>
            <input type="hidden" id="cartData" value="<%= JSON.stringify(user.cart) %>" data-user="<%= JSON.stringify(user) %>">
            <input type="hidden" id="prdData" value="<%= JSON.stringify(cartProduct) %>">
            <input type="hidden" id="strNameArr" value="<%= JSON.stringify(strNameArr) %>">

            <div id="cartAvailability" class="bg-gray-100 p-20">
                <div class="grid grid-cols-3 gap-3">
                    <!-- Left side -->
                    <div class="bg-white shadow col-span-2">
                        <div class="p-3">
                            <h4 id="itemLength" class="inline-block"></h4>
                            <div id="deliverToDiv" class="float-right">
                                <img id="deliverToImg" class="inline-block" alt="Deliver to">
                                <span class="text-gray-400">Deliver to</span>
                                <div class="inline-block" id="cartAddress">
                                    <div id="cartAddressSelect" class="cartAddressSelect flex border p-2 cursor-pointer">
                                        <div>
                                            <span class="font-bold">Jigar Donga</span>
                                        </div>
                                        <div>
                                            <span>, Pooja Park, Block-1...</span>
                                        </div>
                                        <div>
                                            <span class="bg-gray-300 p-1 rounded-full ml-1">work</span>
                                            <i class="fas fa-sort-down"></i>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div id="moreCartAddress" class="float-right border p-2">
                                    <div class="my-2">
                                        <span class="text-muted text-base ml-3">
                                            Select from saved addresses:
                                        </span>
                                    </div>
                                    <div class="mt-2 moreCartAddressAll">
                                        <div class="cartAddressSelect flex p-2 cursor-pointer">
                                            <div>
                                                <span class="font-bold">Jigar Donga</span>
                                            </div>
                                            <div>
                                                <span>, Pooja Park, Block-1...</span>
                                            </div>
                                            <div>
                                                <span class="bg-gray-300 p-1 rounded-full ml-1">work</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ====================================================================== -->
                            <!-- ====================================================================== -->
                            <div class="allCartProduct" id="allCartProduct"></div>
                        </div>
                    </div>

                    <!-- Right Side -->
                    <div>
                        <div id="cartRightDiv" class="bg-white shadow h-80"></div>
                        <div class="m-16">
                            <a href="/">
                                <button class="cartRightButton bg-yellow-300 text-black p-3 rounded focus:outline-none">Continue Shopping</button>
                            </a>
                            <a href="/">
                                <button class="cartRightButton bg-yellow-300 text-black p-3 rounded focus:outline-none">Place Order</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% }else{ %>
            <div class="bg-gray-100 p-20">
                <div id="emptyCartDiv" class="bg-white m-auto p-2">
                    <div class="p-3">
                        <h4>My Cart</h4>
                    </div>
                    <div class="p-3">
                        <img class="w-58 h-48 m-auto" src="/img/cart.png" alt="emptyCart">
                    </div>
                    <div class="mx">
                        <span class="block font-bold text-xl m-auto">Your cart is empty!</span>
                        <span class="block text-base mx-3 my-3">Add items to it now.</span>
                        <a href="/">
                            <button id="emptyCartBtn" class="bg-green-600 shadow text-white w-44 h-10 rounded mb-10">
                                Shop Now
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
</section>